# services:
#   jupyter:
#     image: jupyter/tensorflow-notebook:latest

#     ports:
#       - "8888:8888"
#     volumes:
#       - ./notebooks:/home/jovyan/work/notebooks:rw
#       - ./models:/home/jovyan/work/models:rw
#       - ./data:/home/jovyan/work/data:ro
#       - ./utils:/home/jovyan/work/utils:ro
#     restart: unless-stopped
#     environment:
#       - JUPYTER_ENABLE_LAB=${JUPYTER_ENABLE_LAB}
#       - JUPYTER_PASSWORD=${JUPYTER_PASSWORD}
#       - JUPYTER_TOKEN=${JUPYTER_TOKEN}
#       - PYTHONPATH=${PYTHONPATH}


services:
  jupyter:
    # Usamos el Dockerfile personalizado para incluir Conda y otras dependencias
    build:
      context: ./docker/
      dockerfile: Dockerfile
    container_name: jupyter_lab
    ports:
      - "8888:8888"
    volumes:
      - ./notebooks:/home/jovyan/work/notebooks:rw
      - ./models:/home/jovyan/work/models:rw
      - ./data:/home/jovyan/work/data:ro
      - ./utils:/home/jovyan/work/utils:ro
    restart: unless-stopped
    environment:
      - JUPYTER_ENABLE_LAB=yes
      - JUPYTER_PASSWORD=${JUPYTER_PASSWORD}
      - JUPYTER_TOKEN=${JUPYTER_TOKEN}
      - PYTHONPATH=${PYTHONPATH}
